@import '../../includes/styles/environment';
@import '../../includes/styles/mixins';

@import './includes/styles/environment';

.#{$className} {
    width: $unitSize * 7;
    height: 50px + ($unitSize * 7);
    background-color: #fff;

    &.small {
        width: $unitSizeSmall * 7;
        height: 50px + ($unitSizeSmall * 7);
        }
    }

